<!DOCTYPE html>
<head>
        <title>More</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet
" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<font color="white">

<div align="center">

<br><br><p>This site can help you to generate a safe password for anything.

    <br><br>How is it works?
    <br> Every time when you push the button 'generate password' I get a message and I invent a password and send it to the web site.
    <br>I'm joke. In fact server get a request and make the password by special algorithm automatically.
    <br>I was create this algorithm by programming language Python by using the function 'random'.
    <br>Honestly it is my first experience in web development. Thanks stepik.org and www.zappycode.com.
    <br>

    <br><br>Enjoy!


   <br>


   <br>
   <br>Vladimir P
    <br>v.i.pluzhnikov86@gmail.com</p>
    <br><br>
<a href="{% url "home" %}" class="btn btn-warning">Home</a>

</div>
<body>
    <style>
        body {background: url('https://i.pinimg.com/originals/75/07/24/750724d25ee098a2680faf870c1b920f.jpg') center 0px; background-size: cover; background-repeat: no-repeat;

        }
    </style>
</body>
</font>